@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alatsi&display=swap');

:root{
  --back:#f3f4f0;
  --back2:#bdbdbd;
  --lightpink:#B44772;
  --green:#74d1a6;
  --orange:#ffaf9e;
  --faintyellow:#E8B36E;
  --red:#b41d20;
}


*{
  font-family: Arial;
  padding: 0;
  margin: 0;
  font-family: 'Alata', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Alatsi', sans-serif;
}

.container{
  /* background: var(--back2); */
}

.topsection, .todosection{
  -webkit-box-shadow: 15px 13px 31px -4px rgba(0, 0, 0, 0.082);
  -moz-box-shadow: 15px 13px 31px -4px rgba(0, 0, 0, 0.109);
  box-shadow: 15px 13px 31px -4px rgba(0, 0, 0, 0.164);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.topsection{
  background: var(--back);
  text-align: center;
  border-bottom: 4px solid var(--orange);
}

.todosection{
  background: var(--back);
  min-height: 85vh;
  border-bottom: 4px solid var(--orange);
}


input , button{
  margin: 10px 5px;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
}

.todoinput{
  min-width: 40vw;
  max-width: 90%;
  font-size: 1.6em;
}


#addbtn{
  background: var(--lightpink) !important;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  cursor: pointer;
}

.swal-button{
  background: var(--lightpink) !important;
}

.swal-button--cancel{
  background: var(--back) !important;
}

.todolist{
  border-radius: 8px;
  padding: 10px;
}

.todo{
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
}

.completed{
  background: var(--green);
}

.incomplete{
  background: var(--orange);
}


.tododetails{
  margin: 8px;
  flex: .8;
  max-width: 70%;
  word-wrap: break-word;
  background: white;
  padding: 10px;
  border-radius: 16px;
}

.todotime{
  text-align: center;
  flex: .1;
  font-family: monospace;
  font-weight: bolder;
}

.delbtn, .donebtn{
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.donebtn{
  background: #ec4d2a;
}

.delbtn{
  background: var(--red);
}

#cleartodo{
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: linear-gradient(310deg , red , #b41d20);
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
}

#cleartodo:hover , #cleartodo:active{
  background: linear-gradient(110deg , red , #b41d20);
  transform: scale(1.1);
  transition: ease-in-out 300ms;
}


#downloadtodo{
  position: fixed;
  right: 70px;
  bottom: 10px;
  background: linear-gradient(310deg , #74d1a6 , #35f64f);
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
}

#downloadtodo:hover , #downloadtodo:active{
  transform: scale(1.1);
  background: linear-gradient(310deg , #06cc27 , #74d1a6);
  transition: ease-in-out 300ms;
}


.mdi{
  font-size: 2em;
  color: aliceblue;
}


@media(max-width:700px){
  .todosection{
    padding: 0;
  }
  
  .todo{
    flex-direction: column;
  }

  .tododetails{
    align-self: stretch;
    max-width: 100%;
   }
}