@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alatsi&display=swap');

:root{
  --back:#f6eccc;
  --back2:#bdbdbd;
  --lightpink:#B44772;
  --green:#74d1a6;
  --orange:#fb937b;
  --faintyellow:#ffe4c2;
  --red:#b41d20;
  --backup:#f1d2a4;
}

*{
  font-family: Arial;
  padding: 0;
  margin: 0;
  font-family: 'Alata', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Alatsi', sans-serif;
}



.topsection, .todosection{
  -webkit-box-shadow: 15px 13px 31px -4px rgba(0, 0, 0, 0.082);
  -moz-box-shadow: 15px 13px 31px -4px rgba(0, 0, 0, 0.109);
  box-shadow: 15px 13px 31px -4px rgba(0, 0, 0, 0.164);
  border-radius: 8px;
  padding: 20px;
}

.container{
  background: var(--back2) !important;
  margin: 0;
}

.topsection{
  background: var(--back);
  text-align: center;
  border-bottom: 4px solid var(--orange);
  margin: 10px;
  margin-top: 0;
}

.todosection{
  background: var(--back);
  min-height: 85vh;
  border-bottom: 4px solid var(--orange);
  margin: 10px;
  margin-bottom: 0;
}


input , button{
  margin: 10px 5px;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
}

.todoinput{
  min-width: 40vw;
  max-width: 90%;
  font-size: 1.6em;
  background: var(--faintyellow);
  border: 1px solid rgba(160, 81, 45, 0.698);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
  border-radius: 24px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: gray;
  opacity: .7;
}

#addbtn{
  background: var(--lightpink) !important;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
  border-radius: 24px;
}

.swal-button{
  background: var(--lightpink) !important;
}

.swal-button--cancel{
  background: var(--back) !important;
}

.todolist{
  border-radius: 8px;
  padding: 10px;
}

.todo{
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.164);
}

.completed{
  background: var(--green);
  border-left:10px #00b152 double;
}

.incomplete{
  background: var(--orange);
  border-left:10px #ec4d2a double;
}


.tododetails{
  margin: 8px;
  flex: .8;
  max-width: 70%;
  word-wrap: break-word;
  background: var(--faintyellow);
  padding: 10px;
  border-radius: 16px;
}

.todotime{
  text-align: center;
  flex: .1;
  font-family: monospace;
  font-weight: bolder;
}

.delbtn, .donebtn{
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.donebtn{
  background: #ec4d2a;
}

.delbtn{
  background: var(--red);
}

#nightmode-toggle{
  position: fixed;
  left:10px;
  bottom: 10px;
  background: linear-gradient(310deg , #B44772 , #1c0b38);
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
  transform: rotate(-10deg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}


#cleartodo{
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: linear-gradient(310deg , red , #b41d20);
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

#cleartodo:hover , #cleartodo:active{
  background: linear-gradient(110deg , red , #b41d20);
  transform: scale(1.1);
  transition: ease-in-out 300ms;
}


#downloadtodo{
  position: fixed;
  right: 70px;
  bottom: 10px;
  background: linear-gradient(310deg , #0aa75d , #35f64f);
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

#downloadtodo:hover , #downloadtodo:active{
  transform: scale(1.1);
  background: linear-gradient(310deg , #06cc27 , #0f9456);
  transition: ease-in-out 300ms;
}

.mdi{
  font-size: 2em;
  color: aliceblue;
}

/* DARK MODE ---------------- */



.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert{
  filter: invert(100%) hue-rotate(180deg);
}



@media(max-width:700px){
  .todosection{
    padding: 0;
  }
  
  .todo{
    flex-direction: column;
  }

  .tododetails{
    align-self: stretch;
    max-width: 100%;
   }

   .todotime{
     font-size: .8em;
   }

   .delbtn{
     margin: 5px 20px;
   }

   .donebtn{
    margin: 5px 20px;
  }

}