*{
  font-family: Arial;
  padding: 0;
  margin: 0;
}


.topsection, .todosection{
  -webkit-box-shadow: 15px 13px 31px -4px rgba(0,0,0,0.21);
  -moz-box-shadow: 15px 13px 31px -4px rgba(0,0,0,0.21);
  box-shadow: 15px 13px 31px -4px rgba(0,0,0,0.21);
  margin: 10px;
  border-radius: 8px;
  padding: 20px;
}

.topsection{
  background: rgb(255, 208, 208);
  text-align: center;
}

.todosection{
  background: rgb(255, 244, 244);
  min-height: 75vh;
}


input , button{
  margin: 10px 5px;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
}

.todoinput{
  min-width: 40vw;
  max-width: 90%;
  font-size: 1.6em;
}


#addbtn{
  background: rgb(61, 0, 29) !important;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  cursor: pointer;
}


.todolist{
  border-radius: 8px;
  padding: 10px;
}

.todo{
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
}

.completed{
  background: greenyellow;
}

.incomplete{
  background: orange;
}


.tododetails{
  margin: 8px;
  flex: .8;
  max-width: 70%;
  word-wrap: break-word;
  background: white;
  padding: 10px;
  border-radius: 16px;
}

.todotime{
  text-align: center;
  flex: .1;
  font-family: monospace;
  font-weight: bolder;
}

.delbtn, .donebtn{
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.donebtn{
  background: rgb(114, 103, 0);
}

.delbtn{
  background: rgb(173, 0, 0);
}

#cleartodo{
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: linear-gradient(310deg , red , rgb(255, 38, 0));
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
}

#cleartodo:hover , #cleartodo:active{
  background: linear-gradient(110deg , red , rgb(255, 38, 0));
  transform: scale(1.1);
  transition: ease-in-out 300ms;
}


#downloadtodo{
  position: fixed;
  right: 70px;
  bottom: 10px;
  background: linear-gradient(310deg , #00ff2a , #09ff00);
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
}

#downloadtodo:hover , #downloadtodo:active{
  transform: scale(1.1);
  background: linear-gradient(310deg , #06cc27 , #07aa02);
  transition: ease-in-out 300ms;
}


.mdi{
  font-size: 2em;
  color: aliceblue;
}


@media(max-width:700px){
  .todosection{
    padding: 0;
  }
  
  .todo{
    flex-direction: column;
  }

  .tododetails{
    align-self: stretch;
    max-width: 100%;
   }
}